[user]
  name = Agustin Camino
  email = agustin.camino@gmail.com

[color]
  ui = auto

[alias]
  st = status
  ci = commit --verbose
  co = checkout
  df = diff
  dc = diff --cached
  amend = commit --amend
  aa = add --all
  pullff = pull --ff-only

[merge]
  tool = vimdiff

